[influx2]
url=http://localhost:8086
org=my-org
token=my-token

[DHT22]
gpio_pin=4

# The following arrays can have different lengths, the default mapping is from
# 0 to 100%, the more values in input the more accurate the mapping will be

[ASSETS]
# moisture_adc_channel refers to the channel in the Analog to Digital Converter
pots=[
    {shelf_floor=1, group_position=left, pot_position=left, moisture_adc_channel=1, plant_id=1},
    {shelf_floor=1, group_position=left, pot_position=right, moisture_adc_channel=2, plant_id=2},
    {shelf_floor=2, group_position=left, pot_position=left, moisture_adc_channel=3, plant_id=3},
    {shelf_floor=2, group_position=left, pot_position=right, moisture_adc_channel=4, plant_id=4},
]
shelf={shelf_floor=1, humidity_gpio_pin=4, temperature_gpio_pin=4}


[moisture_values]
XP=[2.4, 1.0]

[water_level_values]
XP=[1.1, 2.0]

[light_level_values]
XP=[80, 180]
